@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap');
$ff-h: 'Montserrat', sans-serif;
$ff-b: 'Roboto', sans-serif;

$breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
);

$root: (
    clr-light: #fffbfc,
    clr-dark: #93a3b1,
    clr-dark-2: #070707,
    clr-accent: #adf5ff,
    clr-bg: #617073,
    ff-h: $ff-h,
    ff-b: $ff-b,
    fs-b: 1rem,
    fs-h1: 2.5rem,
    fs-h2: 1.5rem,
    icon-size: 3rem,
    icon-pic-size: 1.5rem,
    spacing: 1rem,
    spacing-2: 2rem,
    rounded: 5px,
);

:root {
    @each $key, $val in $root {
        --#{$key}: #{$val};
    }

    @include mq(bp(md)) {
        --icon-size: 4rem;
        --icon-pic-size: 2rem;
    }

    @include mq(bp(lg)) {
        --fs-h1: 3rem;
    }
}
