@import url('https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy|Roboto&display=swap');
$ff-h: 'Sorts Mill Goudy', serif;
$ff-b: 'Sorts Mill Goudy', serif;

$breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
);

$root: (
    clr-w: rgb(249, 250, 244),
    clr-w-bg: rgb(248, 231, 185),
    clr-u: rgb(14, 104, 171),
    clr-u-bg: rgb(179, 206, 234),
    clr-b: rgb(21, 11, 0),
    clr-b-bg: rgb(166, 159, 157),
    clr-r: rgb(211, 32, 42),
    clr-r-bg: rgb(235, 159, 130),
    clr-g: rgb(0, 115, 62),
    clr-g-bg: rgb(196, 211, 202),
    clr-light: #fffbfc,
    clr-dark: #000,
    clr-accent: rgb(249, 250, 244),
    clr-accent-2: rgb(248, 231, 185),
    clr-bg: rgb(138, 86, 39),
    clr-bg-2: rgb(69, 53, 25),
    ff-h: $ff-h,
    ff-b: $ff-b,
    fs-b: 1rem,
    fs-h1: 2.5rem,
    fs-h2: 1.5rem,
    icon-size: 3rem,
    icon-pic-size: 1.5rem,
    spacing: 1rem,
    spacing-2: 2rem,
    rounded: 5px,
);

:root {
    @each $key, $val in $root {
        --#{$key}: #{$val};
    }

    @include mq(bp(md)) {
        --icon-size: 4rem;
        --icon-pic-size: 2rem;
    }

    @include mq(bp(lg)) {
        --fs-h1: 3rem;
    }
}
