/* abstracts */
@import url("https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy|Roboto&display=swap");
:root {
  --clr-w: #f9faf4;
  --clr-w-bg: #f8e7b9;
  --clr-u: #0e68ab;
  --clr-u-bg: #b3ceea;
  --clr-b: #150b00;
  --clr-b-bg: #a69f9d;
  --clr-r: #d3202a;
  --clr-r-bg: #eb9f82;
  --clr-g: #00733e;
  --clr-g-bg: #c4d3ca;
  --clr-light: #fffbfc;
  --clr-dark: #000;
  --clr-accent: #f9faf4;
  --clr-accent-2: #f8e7b9;
  --clr-bg: #8a5627;
  --clr-bg-2: #453519;
  --ff-h: Sorts Mill Goudy, serif;
  --ff-b: Sorts Mill Goudy, serif;
  --fs-b: 1rem;
  --fs-h1: 2.5rem;
  --fs-h2: 1.5rem;
  --icon-size: 3rem;
  --icon-pic-size: 1.5rem;
  --spacing: 1rem;
  --spacing-2: 2rem;
  --rounded: 5px;
}

@media only screen and (min-width: 768px) {
  :root {
    --icon-size: 4rem;
    --icon-pic-size: 2rem;
  }
}

@media only screen and (min-width: 992px) {
  :root {
    --fs-h1: 3rem;
  }
}

/* base */
html,
body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-size: var(--fs-b);
  font-family: "Sorts Mill Goudy", serif;
  font-family: var(--ff-b);
  background-color: #453519;
  background-color: var(--clr-bg-2);
  color: #000;
  color: var(--clr-dark);
  font-weight: bolder;
  overflow: hidden;
}

h1,
h2 {
  font-family: "Sorts Mill Goudy", serif;
  font-family: var(--ff-h);
}

h1 {
  font-size: 2.5rem;
  font-size: var(--fs-h1);
}

h2 {
  font-size: 1.5rem;
  font-size: var(--fs-h2);
}

/* layout */
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media only screen and (min-width: 992px) {
  .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 0 auto;
}

header {
  margin-bottom: auto;
}

header .container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

#app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer {
  margin-top: auto;
  padding: 2rem 0;
  padding: var(--spacing-2) 0;
}

footer .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* components */
#card-back {
  position: absolute;
  background-color: #8a5627;
  background-color: var(--clr-bg);
  border: 0.25vw solid #b3ceea;
  border: 0.25vw solid var(--clr-u-bg);
  height: calc(100vh - 3rem);
  width: 75vw;
  z-index: -1;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 100%;
  margin: 1rem 0;
  margin: var(--spacing) 0;
}

@media only screen and (min-width: 992px) {
  #card-back {
    width: 45vw;
  }
}

@media only screen and (min-width: 1200px) {
  #card-back {
    width: 40vw;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__link {
  text-decoration: none;
  text-align: center;
  margin: 0 1rem;
  margin: 0 var(--spacing);
}

.social__icon {
  font-size: 1.5rem;
  font-size: var(--icon-pic-size);
  width: 3rem;
  width: var(--icon-size);
  height: 3rem;
  height: var(--icon-size);
  line-height: 3rem;
  line-height: var(--icon-size);
  background-color: #f8e7b9;
  background-color: var(--clr-accent-2);
  color: #f9faf4;
  color: var(--clr-accent);
  border-radius: 50%;
  border: 2px solid #f9faf4;
  border: 2px solid var(--clr-accent);
  -webkit-transition: ease-in-out 200ms;
  transition: ease-in-out 200ms;
}

.social__icon:hover, .social__icon:active {
  background-color: #f9faf4;
  background-color: var(--clr-accent);
  color: #f8e7b9;
  color: var(--clr-accent-2);
  border-color: #f8e7b9;
  border-color: var(--clr-accent-2);
  -webkit-transition: ease-in-out 200ms;
  transition: ease-in-out 200ms;
}

.byline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: italic;
  color: #f9faf4;
  color: var(--clr-w);
  letter-spacing: 1px;
  text-shadow: -1px 0 var(--clr-b), 0 1px var(--clr-b), 1px 0 var(--clr-b), 0 -1px var(--clr-b);
}

.mana {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

@media only screen and (min-width: 992px) {
  .mana {
    margin-right: 1rem;
    margin-right: var(--spacing);
  }
}

.mana__field {
  margin: 0 auto;
}

.mana__symbol {
  pointer-events: none;
}

.mana__btn {
  font-family: sans-serif;
  border-radius: 50%;
  margin: 0.25rem;
  font-size: 1.5rem;
  font-size: var(--icon-pic-size);
  width: 3rem;
  width: var(--icon-size);
  height: 3rem;
  height: var(--icon-size);
  line-height: 3rem;
  line-height: var(--icon-size);
  cursor: pointer;
  border: none;
  -webkit-transition: ease-in-out 300ms;
  transition: ease-in-out 300ms;
}

.mana__btn#white {
  background-color: #f8e7b9;
  background-color: var(--clr-w-bg);
  color: #f9faf4;
  color: var(--clr-w);
  border: 2px solid #f9faf4;
  border: 2px solid var(--clr-w);
}

.mana__btn#white:hover {
  -webkit-box-shadow: 0 0 10px #f9faf4;
          box-shadow: 0 0 10px #f9faf4;
  -webkit-box-shadow: 0 0 10px var(--clr-w);
          box-shadow: 0 0 10px var(--clr-w);
}

.mana__btn#blue {
  background-color: #b3ceea;
  background-color: var(--clr-u-bg);
  color: #0e68ab;
  color: var(--clr-u);
  border: 2px solid #0e68ab;
  border: 2px solid var(--clr-u);
}

.mana__btn#blue:hover {
  -webkit-box-shadow: 0 0 10px #0e68ab;
          box-shadow: 0 0 10px #0e68ab;
  -webkit-box-shadow: 0 0 10px var(--clr-u);
          box-shadow: 0 0 10px var(--clr-u);
}

.mana__btn#black {
  background-color: #a69f9d;
  background-color: var(--clr-b-bg);
  color: #150b00;
  color: var(--clr-b);
  border: 2px solid #150b00;
  border: 2px solid var(--clr-b);
}

.mana__btn#black:hover {
  -webkit-box-shadow: 0 0 10px #150b00;
          box-shadow: 0 0 10px #150b00;
  -webkit-box-shadow: 0 0 10px var(--clr-b);
          box-shadow: 0 0 10px var(--clr-b);
}

.mana__btn#red {
  background-color: #eb9f82;
  background-color: var(--clr-r-bg);
  color: #d3202a;
  color: var(--clr-r);
  border: 2px solid #d3202a;
  border: 2px solid var(--clr-r);
}

.mana__btn#red:hover {
  -webkit-box-shadow: 0 0 10px #d3202a;
          box-shadow: 0 0 10px #d3202a;
  -webkit-box-shadow: 0 0 10px var(--clr-r);
          box-shadow: 0 0 10px var(--clr-r);
}

.mana__btn#green {
  background-color: #c4d3ca;
  background-color: var(--clr-g-bg);
  color: #00733e;
  color: var(--clr-g);
  border: 2px solid #00733e;
  border: 2px solid var(--clr-g);
}

.mana__btn#green:hover {
  -webkit-box-shadow: 0 0 10px #00733e;
          box-shadow: 0 0 10px #00733e;
  -webkit-box-shadow: 0 0 10px var(--clr-g);
          box-shadow: 0 0 10px var(--clr-g);
}

.enemy {
  -webkit-box-shadow: 0 0 10px red;
          box-shadow: 0 0 10px red;
  -webkit-transition: ease-in-out 500ms;
  transition: ease-in-out 500ms;
}

.ally {
  opacity: 0.5;
  -webkit-box-shadow: 0 0 10px lightblue;
          box-shadow: 0 0 10px lightblue;
  -webkit-transition: ease-in-out 500ms;
  transition: ease-in-out 500ms;
}

#scoreboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

#scoreboard table {
  padding: 2rem;
  padding: var(--spacing-2);
}

#scoreboard table th,
#scoreboard table td {
  width: 33%;
}

#scoreboard table th {
  color: #000;
  color: var(--clr-dark);
}

@media only screen and (min-width: 992px) {
  #scoreboard {
    margin-left: 1rem;
    margin-left: var(--spacing);
  }
}

#player__list th:not(:first-child) {
  border-bottom: 2px solid #f9faf4;
  border-bottom: 2px solid var(--clr-accent);
}

#instructions {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

#results {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  text-transform: capitalize;
}

.card {
  border: 2px solid #f9faf4;
  border: 2px solid var(--clr-accent);
  background-color: #f8e7b9;
  background-color: var(--clr-accent-2);
  border-radius: 5px;
  border-radius: var(--rounded);
  margin: 1rem 0;
  margin: var(--spacing) 0;
  padding: 1rem;
  padding: var(--spacing);
}

#title {
  color: #b3ceea;
  color: var(--clr-u-bg);
  margin-bottom: 0;
  text-shadow: -2px 0 var(--clr-b), 0 2px var(--clr-b), 2px 0 var(--clr-b), 0 -2px var(--clr-b);
}

#title::first-letter {
  margin-top: 0.0001rem;
  float: left;
  font-size: calc(var(--fs-h1) * 1.75);
}

#title__sub {
  text-shadow: -1px 0 var(--clr-b), 0 1px var(--clr-b), 1px 0 var(--clr-b), 0 -1px var(--clr-b);
  letter-spacing: 1px;
  color: #f9faf4;
  color: var(--clr-w);
  position: absolute;
  top: 50%;
  left: 47%;
}

.btn {
  background-color: #f8e7b9;
  background-color: var(--clr-accent-2);
  border: 2px solid #f9faf4;
  border: 2px solid var(--clr-accent);
  padding: 8px 16px;
  font-weight: bolder;
  cursor: pointer;
  -webkit-transition: ease-in-out 200ms;
  transition: ease-in-out 200ms;
  border-radius: 5px;
  border-radius: var(--rounded);
}

.btn:hover, .btn:active {
  background-color: #f9faf4;
  background-color: var(--clr-accent);
  color: #f8e7b9;
  color: var(--clr-accent-2);
  border-color: #f8e7b9;
  border-color: var(--clr-accent-2);
  -webkit-transition: ease-in-out 200ms;
  transition: ease-in-out 200ms;
}

#rules {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#rules__btn {
  margin-top: auto;
  margin-bottom: 1rem;
  margin-bottom: var(--spacing);
  height: 38px;
}

#rules__btn.hidden {
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
}

#rules__card {
  margin-right: 1rem;
  margin-right: var(--spacing);
}

#rules__card.hidden {
  -webkit-transform: translateX(-125%);
          transform: translateX(-125%);
  display: none;
}

@media only screen and (min-width: 992px) {
  #rules__card.hidden {
    display: block;
  }
}

#rules .slow {
  -webkit-transition: ease-in-out 1000ms;
  transition: ease-in-out 1000ms;
}

#name__form {
  margin-bottom: 1rem;
  margin-bottom: var(--spacing);
}

#name__field {
  background-color: #f8e7b9;
  background-color: var(--clr-accent-2);
  border: 2px solid #f9faf4;
  border: 2px solid var(--clr-accent);
  border-radius: 5px;
  border-radius: var(--rounded);
  margin-right: 1rem;
  margin-right: var(--spacing);
  padding: 8px 16px;
}

#name__field:focus {
  background-color: #f8e7b9;
  background-color: var(--clr-accent-2);
}
