/* abstracts */
@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap");
:root {
  --clr-light: #fffbfc;
  --clr-dark: #93a3b1;
  --clr-dark-2: #070707;
  --clr-accent: #adf5ff;
  --clr-bg: #617073;
  --ff-h: Montserrat, sans-serif;
  --ff-b: Roboto, sans-serif;
  --fs-b: 1rem;
  --fs-h1: 2.5rem;
  --fs-h2: 1.5rem;
  --icon-size: 3rem;
  --icon-pic-size: 1.5rem;
  --spacing: 1rem;
  --spacing-2: 2rem;
  --rounded: 5px;
}

@media only screen and (min-width: 768px) {
  :root {
    --icon-size: 4rem;
    --icon-pic-size: 2rem;
  }
}

@media only screen and (min-width: 992px) {
  :root {
    --fs-h1: 3rem;
  }
}

/* base */
html,
body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-size: var(--fs-b);
  font-family: "Roboto", sans-serif;
  font-family: var(--ff-b);
  background-color: #617073;
  background-color: var(--clr-bg);
  color: #fffbfc;
  color: var(--clr-light);
}

h1 {
  font-size: 2.5rem;
  font-size: var(--fs-h1);
  font-family: "Montserrat", sans-serif;
  font-family: var(--ff-h);
  color: #070707;
  color: var(--clr-dark-2);
}

/* layout */
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media only screen and (min-width: 992px) {
  .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 0 auto;
}

header {
  margin-bottom: auto;
}

header .container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer {
  margin-top: auto;
  padding: 2rem 0;
  padding: var(--spacing-2) 0;
}

footer .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* components */
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__link {
  text-decoration: none;
  text-align: center;
  margin: 0 1rem;
  margin: 0 var(--spacing);
}

.social__icon {
  font-size: 1.5rem;
  font-size: var(--icon-pic-size);
  width: 3rem;
  width: var(--icon-size);
  height: 3rem;
  height: var(--icon-size);
  line-height: 3rem;
  line-height: var(--icon-size);
  background-color: #93a3b1;
  background-color: var(--clr-dark);
  color: #fffbfc;
  color: var(--clr-light);
  border-radius: 50%;
  border: 2px solid #adf5ff;
  border: 2px solid var(--clr-accent);
  -webkit-transition: ease-in-out 200ms;
  transition: ease-in-out 200ms;
}

.social__icon:hover, .social__icon:active {
  background-color: #070707;
  background-color: var(--clr-dark-2);
  -webkit-transition: ease-in-out 200ms;
  transition: ease-in-out 200ms;
}

.byline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: italic;
}

.rps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media only screen and (min-width: 992px) {
  .rps {
    margin-right: 1rem;
    margin-right: var(--spacing);
  }
}

.rps__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 30%;
  cursor: pointer;
}

.rps__card:hover .rps__icon,
.rps__card:hover .rps__label {
  color: #070707;
  color: var(--clr-dark-2);
  -webkit-transition: ease-in-out 300ms;
  transition: ease-in-out 300ms;
}

.rps__icon {
  font-size: 3rem;
  font-size: var(--icon-size);
  color: #93a3b1;
  color: var(--clr-dark);
  cursor: pointer;
  -webkit-transition: ease-in-out 300ms;
  transition: ease-in-out 300ms;
}

.rps__label {
  font-size: 1.5rem;
  font-size: var(--fs-h2);
  cursor: pointer;
  -webkit-transition: ease-in-out 300ms;
  transition: ease-in-out 300ms;
}

#scoreboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

#scoreboard table {
  padding: 2rem;
  padding: var(--spacing-2);
}

#scoreboard table th,
#scoreboard table td {
  width: 33%;
}

#scoreboard table th {
  color: #070707;
  color: var(--clr-dark-2);
}

@media only screen and (min-width: 992px) {
  #scoreboard {
    margin-left: 1rem;
    margin-left: var(--spacing);
  }
}

#player__list th:not(:first-child) {
  border-bottom: 2px solid #adf5ff;
  border-bottom: 2px solid var(--clr-accent);
}

#instructions {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

#results {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  text-transform: capitalize;
}

.card {
  border: 2px solid #fffbfc;
  border: 2px solid var(--clr-light);
  border-radius: 5px;
  border-radius: var(--rounded);
  margin: 1rem 0;
  margin: var(--spacing) 0;
  padding: 1rem;
  padding: var(--spacing);
}
