#scoreboard {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    table {
        @include var(padding, spacing-2);

        th,
        td {
            width: 33%;
        }

        th {
            @include var(color, clr-dark-2);
        }
    }

    @include mq(bp(lg)) {
        @include var(margin-left, spacing);
    }
}

#player__list th:not(:first-child) {
    @include varPlusBef(border-bottom, 2px solid, clr-accent);
}
